
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="icon" type="image/gif" href="images/shreddit-icon.gif">
    <link rel="shortcut icon" type="image/gif" href="images/shreddit-icon.gif">
    <link rel="icon" type="image/gif" href="images/shreddit-icon.gif">
    <title>Express LiveCoding</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>Express</h1>
  <p>Welcome to Express</p>
  <!--<form name="music" action="data/products" method="get">-->
      <p><input type="text" id="js-name" name="name" value="Libby Larsen" /></p>
      <p><input type="text" id="js-country" name="country" value="USA" /></p>
      <p><input type="submit" id="js-show-products" value="Show Products" /></p>
  <!--</form>-->
  <p>&nbsp;</p>

  <section id="js-container-products"></section>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/main.js"></script>
</body>
</html>
