body {
  font-family: Tahoma, Geneva, sans-serif;
  padding-top: 50px;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Tahoma, Geneva, sans-serif;
}
.sc-content-text {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1.25rem;
  letter-spacing: 1px;
}
.navbar-inverse {
  background-color: #b674af;
}
.navbar-inverse .navbar-brand {
  color: #ffffe0;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffe0;
}
.btn-primary,
.btn-default {
  border-color: #9d5b96;
  background-color: #b674af;
}
.btn-primary:hover,
.btn-default:hover {
  border-color: #9d5b96;
  background-color: #9d5b96;
}
.btn-primary:focus,
.btn-default:focus {
  border-color: #89b98e;
  background-color: #89b98e;
}
.btn-primary:disabled,
.btn-default:disabled {
  border-color: #89b98e;
  background-color: #c8e0ca;
}
.btn-default,
.btn-default:hover {
  color: #ffffff;
  font-weight: bold;
}
.sc-sort-button-unchecked,
.sc-sort-button-unchecked:hover,
.sc-sort-button-unchecked:focus {
  color: #ffffff;
  border-color: #9d5b96;
  background-color: #9d5b96;
}
.sc-sort-button-checked,
.sc-sort-button-checked:hover,
.sc-sort-button-checked:focus {
  color: #9d5b96;
  border-color: #9d5b96;
  background-color: #ffffff;
}
.sc-language-button-unchecked,
.sc-language-button-unchecked:hover,
.sc-language-button-unchecked:focus {
  color: #ffffff;
  border-color: #9d5b96;
  background-color: #9d5b96;
}
.sc-language-button-checked,
.sc-language-button-checked:hover,
.sc-language-button-checked:focus {
  color: #9d5b96;
  border-color: #9d5b96;
  background-color: #ffffff;
}
#si-sort-order-my-postings {
  margin-left: 1rem;
}
#si-language-en {
  margin-left: 3rem;
}
.sc-posting-comment p {
  font-size: 1.5rem;
  font-weight: normal;
}
.sc-posting-commentator {
  font-size: 1rem;
  font-weight: normal;
}
.sc-btn-add-comment {
  margin-bottom: 1.5rem;
}
.sc-external-link {
  font-family: 'Glyphicons Halflings';
}
.sc-stars {
  font-family: 'Glyphicons Halflings';
  font-weight: bold;
  color: #9d5b96;
}
.sc-no-stars {
  font-family: 'Glyphicons Halflings';
  font-weight: bold;
  color: #AAAAAA;
}
.sc-main-menu-item {
  margin: 0 15px;
}
.sc-stars:hover,
.sc-no-stars:hover + .sc-stars {
  color: #b674af;
}
.sc-no-stars:hover,
.sc-stars:hover + .sc-no-stars {
  color: #888888;
}
.sc-select-stars,
.sc-select-stars:hover,
.sc-select-stars:visited,
.sc-select-stars:active,
.sc-select-stars:focus {
  text-decoration: none;
  cursor: pointer;
}
.sc-select-stars:disabled {
  text-decoration: none;
  cursor: default;
}
.sc-credit-table {
  border: none;
  padding: 0;
  margin: 1rem 0;
}
label {
  font-size: 1.25rem;
}
.sc-about-label,
.sc-about-info {
  padding: 1rem 2rem 1rem 0;
}
.sc-about-info-group {
  color: #b674af;
  font-weight: bold;
}
.sc-error-info {
  color: #b00000;
  margin-left: 10px;
}
.sc-search-container {
  margin: 3px 0 10px 0;
}
.sc-search-input-group {
  margin: 0 0 0 auto;
  max-width: 250px;
}
.sc-search-field {
  max-width: 14rem;
}
.sc-posting-header-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.sc-posting-header-title,
.sc-info-no-comments {
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 2px;
  flex-grow: 1;
}
.sc-info-no-postings {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 2rem;
}
.sc-posting-header-info {
  flex-grow: 0;
  padding-left: 2rem;
}
.sc-header-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.sc-user-name {
  color: #9d5b96;
  font-weight: bold;
  font-style: normal;
}
.sc-text-area {
  resize: vertical;
  min-height: 5rem;
  max-height: 15rem;
}
.sc-posting-list {
  margin: 9px auto;
}
.sc-login {
  margin: 9px 0;
}
.sc-error {
  margin: 9px 0;
}
.sc-comments {
  margin: 9px 0;
}
.sc-new {
  margin: 9px 0;
}
.sc-new-comment {
  margin: 9px 0;
}
.sc-user-settings {
  margin: 9px 0;
}
.sc-about {
  margin: 9px 0;
}
.sc-rating-dialog {
  text-align: center;
}
.sc-margin-left {
  margin-left: 1rem;
}
.sc-goto-button {
  padding-right: 30px;
}
.sc-info-loading {
  text-align: center;
}
.sc-info-loading img {
  margin: 50px auto;
}
@media screen and (max-width: 767px) {
  .sc-sub-menu-item {
    color: #ffffe0 !important;
    /* not sure why important is necessary! */
  }
  .sc-sub-menu-item:hover {
    color: #ffffff !important;
    /* not sure why important is necessary! */
  }
  .sc-main-menu-item {
    margin: 0;
  }
  #si-language-en {
    margin-left: 0;
  }
}
