
  <div class="container sc-new-comment">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="sc-header-title">
          <span class="sc-user-name">{{comment.user | uppercase}}</span>&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;
          {{TXT.NEW_COMMENT.TITLE}}: {{posting.title}}</div>
      </div>
      <div class="panel-body sc-content-text">

        <form role="form" class="" name="newCommentForm">
          <div class="form-group">
            <label for="si-new-posting-comment-title">{{TXT.NEW_COMMENT.RESPONSE_LABEL}} &#64;&colon;</label>
            <input type="text" class="form-control" placeholder="{{TXT.NEW_COMMENT.RESPONSE_PLACEHOLDER}}" id="si-new-posting-comment-title" ng-model="comment.response">
          </div>
          <div class="form-group">
            <label for="si-new-posting-comment-content">{{TXT.NEW_COMMENT.COMMENT_LABEL}}</label>
            <span class="error sc-error-info" ng-show="newCommentForm.comment.$invalid">{{TXT.NEW_COMMENT.COMMENT_INVALID}}</span>
            <textarea class="form-control sc-text-area" name="comment" id="si-new-posting-comment-content" ng-model="comment.comment" required></textarea>
          </div>
          <button type="button" class="btn btn-link btn-sm pull-right" ng-click="close(posting._id)">{{TXT.GENERAL.CLOSE}}</button>
          <button type="submit" class="btn btn-default btn-sm pull-right" ng-disabled="newCommentForm.$invalid"  ng-click="createComment(posting._id)">{{TXT.GENERAL.SAVE}}</button>
        </form>
      </div>
    </div>
  </div>
