<div class="container sc-posting-list">

  <div class="sc-search-container">
    <div class="input-group sc-search-input-group">
      <input id="si-search-term" type="text" class="form-control input-sm" placeholder="{{TXT.MENU.SEARCH_LABEL}}" title="{{TXT.MENU.SEARCH_TITLE}}" ng-keyup="onSearch($event.keyCode)">
      <span class="input-group-btn">
        <button class="btn btn-default btn-sm" type="button" title="{{TXT.MENU.SEARCH_START_TITLE}}" ng-click="onSearch(13)"><i class="glyphicon glyphicon-search"></i></button>
        <button class="btn btn-default btn-sm" type="button" title="{{TXT.MENU.SEARCH_CLEAR_TITLE}}" ng-click="onSearch(0)"><i class="glyphicon glyphicon-trash"></i></button>
      </span>
    </div>
  </div>

  <div class="panel panel-default" ng-show="loadingState > 0" ng-repeat="posting in postings">
    <div class="panel-heading">
      <div class="sc-posting-header-box">
        <div class="sc-posting-header-title" title="{{TXT.POSTING.POSTING}}: {{posting.title}}">{{posting.title}}</div>
        <div class="sc-posting-header-info sc-user-name" title="{{TXT.POSTING.ADDED_BY}}: {{posting.user}}">
          {{posting.user | uppercase}}
        </div>
        <div class="sc-posting-header-info" title="{{posting.rating}} {{TXT.POSTING.AVG}} {{posting.people}} {{TXT.POSTING.AVG2}}">
          <a class="sc-select-stars" ng-diabled="posting.user == getUser()"
             ng-click="openRatingDialog(posting._id,posting.user,posting.title)">
            <span ng-show="posting.rating < 0.5" class="sc-no-stars">&#xe007;&#xe007;&#xe007;&#xe007;&#xe007;</span>
            <span ng-show="(posting.rating >= 0.5) && (posting.rating < 1.5)" class="sc-stars">&#xe006;</span><span
              ng-show="(posting.rating >= 0.5) && (posting.rating < 1.5)" class="sc-no-stars">&#xe007;&#xe007;&#xe007;&#xe007;</span>
            <span ng-show="(posting.rating >= 1.5) && (posting.rating < 2.5)"
                  class="sc-stars">&#xe006;&#xe006;</span><span
              ng-show="(posting.rating >= 1.5) && (posting.rating < 2.5)"
              class="sc-no-stars">&#xe007;&#xe007;&#xe007;</span>
            <span ng-show="(posting.rating >= 2.5) && (posting.rating < 3.5)"
                  class="sc-stars">&#xe006;&#xe006;&#xe006;</span><span
              ng-show="(posting.rating >= 2.5) && (posting.rating < 3.5)" class="sc-no-stars">&#xe007;&#xe007;</span>
            <span ng-show="(posting.rating >= 3.5) && (posting.rating < 4.5)" class="sc-stars">&#xe006;&#xe006;&#xe006;&#xe006;</span><span
              ng-show="(posting.rating >= 3.5) && (posting.rating < 4.5)" class="sc-no-stars">&#xe007;</span>
            <span ng-show="(posting.rating >= 4.5)" class="sc-stars">&#xe006;&#xe006;&#xe006;&#xe006;&#xe006;</span></a>
        </div>
        <div class="sc-posting-header-info" title="{{TXT.POSTING.ADDED_ON}} {{posting.date}}">
          <small>{{posting.time | date: 'dd.MM.yyyy HH:mm'}}</small>
        </div>
      </div>
    </div>
    <div class="panel-body sc-content-text" title="{{TXT.POSTING.CONTENT}} {{posting.title}}">
      <p>{{posting.content}}</p>

      <p ng-show="posting.link"><a target="_blank" href="{{posting.url}}"><span class="sc-external-link">&#xe164;</span>
        {{posting.link}}</a></p>
      <button ng-show="isUser(posting.user)" type="button" ng-click="deletePosting(posting._id)"
              class="btn btn-link btn-sm pull-right sc-margin-left">{{TXT.GENERAL.DELETE}}
      </button>
      <button ng-show="posting.commentCount == '0'" type="button" class="btn btn-link btn-sm pull-right"
              ng-click="showComments(posting._id)">{{TXT.POSTING.SHOW_COMMENT_0}}
      </button>
      <button ng-show="posting.commentCount == '1'" type="button" class="btn btn-link btn-sm pull-right"
              ng-click="showComments(posting._id)">{{TXT.POSTING.SHOW_COMMENT_1}} ({{posting.commentCount}})
      </button>
      <button ng-show="posting.commentCount > 1" type="button" class="btn btn-link btn-sm pull-right"
              ng-click="showComments(posting._id)">{{TXT.POSTING.SHOW_COMMENT_2}} ({{posting.commentCount}})
      </button>
    </div>
  </div>

  <div class="sc-info-no-postings" ng-show="loadingState === 0">

    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="sc-header-title">{{TXT.POSTING.NO_POSTINGS_TITLE}}</div>
      </div>
      <div class="panel-body sc-content-text">
        <p>{{TXT.POSTING.NO_POSTINGS}}</p>
        <p>{{TXT.POSTING.NEW_POSTING}}</p>
      </div>
    </div>

  </div>
  <div class="sc-info-loading" ng-show="loadingState === -1">
    <img src="files/shreddit-loader.gif">
  </div>

  <div id="si-rating-dialog" class="sc-rating-dialog">
    <p id="si-rating-dialog-title"></p>
    <a href="#" class="sc-select-stars" id="si-select-stars-0"><span class="sc-no-stars">&#xe007;&nbsp;&#xe007;&nbsp;&#xe007;&nbsp;&#xe007;&nbsp;&#xe007;&nbsp;</span></a><br>
    <a href="#" class="sc-select-stars" id="si-select-stars-1"><span class="sc-stars">&#xe006;&nbsp;</span><span
        class="sc-no-stars">&#xe007;&nbsp;&#xe007;&nbsp;&#xe007;&nbsp;&#xe007;&nbsp;</span></a><br>
    <a href="#" class="sc-select-stars" id="si-select-stars-2"><span
        class="sc-stars">&#xe006;&nbsp;&#xe006;&nbsp;</span><span class="sc-no-stars">&#xe007;&nbsp;&#xe007;&nbsp;&#xe007;&nbsp;</span></a><br>
    <a href="#" class="sc-select-stars" id="si-select-stars-3"><span class="sc-stars">&#xe006;&nbsp;&#xe006;&nbsp;&#xe006;&nbsp;</span><span
        class="sc-no-stars">&#xe007;&nbsp;&#xe007;&nbsp;</span></a><br>
    <a href="#" class="sc-select-stars" id="si-select-stars-4"><span class="sc-stars">&#xe006;&nbsp;&#xe006;&nbsp;&#xe006;&nbsp;&#xe006;&nbsp;</span><span
        class="sc-no-stars">&#xe007;&nbsp;</span></a><br>
    <a href="#" class="sc-select-stars" id="si-select-stars-5"><span class="sc-stars">&#xe006;&nbsp;&#xe006;&nbsp;&#xe006;&nbsp;&#xe006;&nbsp;&#xe006;&nbsp;</span></a><br>
  </div>

</div>
